<%- include("partials/header") -%>

<!-- <div class="container">

    <h1 class="display-4 mt-4 mb-5">
        <small class="text-body-secondary">Check out</small>
        2023 F1 Drivers 
        <small class="text-body-secondary">Standing</small>
    </h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr class="border">
                <th scope="col">Standing</th>
                <th scope="col">Driver</th>
                <th scope="col">Nationality</th>
                <th scope="col">Team</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="table-primary">
                <th scope="row">1</th>
                <td>Verstappen</td>
                <td>NED</td>
                <td>Red Bull Racing</td>
                <td>119</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">2</th>
                <td>Pérez</td>
                <td>MEX</td>
                <td>Red Bull Racing</td>
                <td>105</td>
              </tr>
              <tr class="table-success">
                <th scope="row">3</th>
                <td>Alonso</td>
                <td>ESP</td>
                <td>Aston Martin</td>
                <td>75</td>
              </tr>
              <tr class="table-info">
                <th scope="row">4</th>
                <td>Hamilton</td>
                <td>GBR</td>
                <td>Mercedes</td>
                <td>56</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">5</th>
                <td>Sainz</td>
                <td>ESP</td>
                <td>Ferrari</td>
                <td>44</td>
              </tr>
              <tr class="table-info">
                <th scope="row">6</th>
                <td>Russel</td>
                <td>GBR</td>
                <td>Mercedes</td>
                <td>40</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">7</th>
                <td>Leclerc</td>
                <td>MON</td>
                <td>Ferrari</td>
                <td>34</td>
              </tr>
              <tr class="table-success">
                <th scope="row">8</th>
                <td>Stroll</td>
                <td>CAN</td>
                <td>Aston Martin</td>
                <td>27</td>
              </tr>
              <tr class="table-warning"> 
                <th scope="row">9</th>
                <td>Norris</td>
                <td>GBR</td>
                <td>McLaren</td>
                <td>10</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">10</th>
                <td>Gasly</td>
                <td>FRA</td>
                <td>Alpine</td>
                <td>8</td>
              </tr>
              <tr class="table-secondary">
                <th scope="row">11</th>
                <td>Hülkenberg</td>
                <td>GER</td>
                <td>Haas F1 Team</td>
                <td>6</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">12</th>
                <td>Ocon</td>
                <td>FRA</td>
                <td>Alpine</td>
                <td>6</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">13</th>
                <td>Bottas</td>
                <td>FIN</td>
                <td>Alfa Romeo</td>
                <td>4</td>
              </tr>
              <tr class="table-warning">
                <th scope="row">14</th>
                <td>Piastri</td>
                <td>AUS</td>
                <td>McLaren</td>
                <td>4</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">15</th>
                <td>Guanyu</td>
                <td>CHN</td>
                <td>Alfa Romeo</td>
                <td>2</td>
              </tr>
              <tr class="table-light">
                <th scope="row">16</th>
                <td>Tsunoda</td>
                <td>JPN</td>
                <td>AlphaTauri</td>
                <td>2</td>
              </tr>
              <tr class="table-secondary">
                <th scope="row">17</th>
                <td>Magnussen</td>
                <td>DEN</td>
                <td>Haas F1 Team</td>
                <td>2</td>
              </tr>
              <tr class="table-dark">
                <th scope="row">18</th>
                <td>Albon</td>
                <td>THA</td>
                <td>Williams</td>
                <td>1</td>
              </tr>
              <tr class="table-dark">
                <th scope="row">19</th>
                <td>Sargeant</td>
                <td>USA</td>
                <td>Williams</td>
                <td>0</td>
              </tr>
              <tr class="table-light">
                <th scope="row">20</th>
                <td>De Vries</td>
                <td>NED</td>
                <td>AlphaTauri</td>
                <td>0</td>
              </tr> 
            </tbody>
          </table>
    </div>

    <button type="button" class="btn btn-primary mt-3 mb-5">
        <a href="/standing" style="text-decoration: none; color: white;"> Head Back </a>
    </button>
</div> -->

<div class="container">

  <h1 class="display-4 mt-4 mb-5">
    <small class="text-body-secondary">Check out</small>
    2023 F1 Drivers 
    <small class="text-body-secondary">Standing</small>
    <hr class="border border-danger border-2 opacity-50">
  </h1>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Nationality</th>
          <th>Constructor</th>
          <th>Points</th>
        </tr>  
      </thead>
  
      <tbody class="table-group-divider">
        <% standings.forEach(driver => { %>
          <tr>
            <th scope="row"><%= driver.position %></th>
            <td><%= driver.Driver.givenName %> <%= driver.Driver.familyName %></td>
            <td><%= driver.Driver.nationality %></td>
            <td><%= driver.Constructors[0].name %></td>
            <td><%= driver.points %></td>
          </tr>
        <% }) %>  
      </tbody>
  
    </table>
  </div>

  <button type="button" class="btn btn-primary mt-3 mb-5">
    <a href="/standing" style="text-decoration: none; color: white;"> Head Back </a>
  </button>

</div>


  

<%- include("partials/footer") -%>